# --- make conda available for direnv shells ---
source "$(conda info --base)/etc/profile.d/conda.sh"
conda activate py310

# Force project shell to prefer py310 over pyenv shims
PATH_add /opt/miniconda3/envs/py310/bin

# Load local env first (project-specific)
dotenv_if_exists .env

export PYTHONPATH=.