# --- make conda available for direnv shells ---
source "$(conda info --base)/etc/profile.d/conda.sh"
conda activate py310

# Load local env first (project-specific)
dotenv_if_exists .env

export PYTHONPATH=.
